


<ion-content >
  <div class="login">
    <form  [formGroup]="loginForm" (ngSubmit)="doLogin( $event )">
      <ion-item>      
          <ion-icon name="person" item-start></ion-icon>
          <ion-label floating>
            Usuario
          </ion-label>
          <ion-input type="text" name="usuario"  formControlName="usuario" ></ion-input>
        </ion-item>
       
        <ion-item>      
            <ion-icon name="lock" item-start></ion-icon>
            <ion-label floating>
              Password
            </ion-label>
            <ion-input type="password" name="pass"  formControlName="password" ></ion-input>
          </ion-item>
          <div padding>
        
            <button ion-button block color="menta"  type="submit"> Sign In</button>
           
          </div>
        </form>

  </div>
      
        
     <div class="footer">
        <ion-row align-items-center>
            <ion-col>
              
            </ion-col>
            <ion-col>
              <br>
              <br>
                <button class="link"  (click)="GoToRegistrar()" >Registrarte</button>
              <br>
                <br>
                <button class="link large" >Olvidates tu contraseña?</button>
            </ion-col>
            <ion-col>
              
            </ion-col>
            
          </ion-row>
     </div>
</ion-content>
