page-login {
    
ion-content{
    background-image: linear-gradient(20deg, rgb(255, 255, 255) 70%, rgba(246, 246, 246, 0.35)), url(https://revistavive.com/wp-content/uploads/2017/08/La-regla-del-minuto-para-que-los-ni%C3%B1os-mejoren-d%C3%ADa-a-d%C3%ADa.jpg);
    background-size: cover;

}
.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #000000; //label color when focusing
}
.item-input .label-md{
    color: #000000; //label color
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #00db77;
  -webkit-box-shadow: inset 0 -1px 0 0 #00db77;
  box-shadow: inset 0 -1px 0 0 #00db77;
}
.login{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
}

ion-item {
    position: relative;
  }
  
  ion-item.item-label-floating .text-input {
    margin-left: 32px;
    width: calc(100% - 32px);
  }
  
  ion-item.item-input ion-icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #00db77;
    font-size: 20px;
    min-width: 0 !important;
    text-align: left !important;
    
  }
  
  
  ion-item.item-input ion-label[floating] {
        padding-left: 2px;
  }
  
  ion-item.input-has-focus ion-label[floating],
  ion-item.input-has-value ion-label[floating] {
    padding-left: 0;
    transform: translate3d(-25.6px, 0, 0) scale(0.8); /* 25.6 is equal to 32 * 0.8 (the scale factor) */
  }
  .item-md ion-icon[item-left] + .item-inner,
.item-md ion-icon[item-left] + .item-input,
.item-md ion-icon[item-start] + .item-inner,
.item-md ion-icon[item-start] + .item-input {
   margin-left: 13px;
}
ion-button{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.link{
    font-size: 15px;
    font-weight: bold;
    background: white;
}
.large{
    width: 300px;
}
.item-ios ion-icon[item-left],
.item-ios ion-icon[item-right],
.item-ios ion-icon[item-start],
.item-ios ion-icon[item-end] {
  margin-left: -10px;
  margin-top: 9px;
  margin-bottom: 8px;
}
}