<ion-content >
  <div class="login">
      <form  [formGroup]="RegistrarForm" (ngSubmit)="Registrar()">
    <ion-row align-items-center >
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label floating>
            Nombre
          </ion-label>
          <ion-input type="text" name="nombre"  formControlName="nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label floating>
            Apellido
          </ion-label>
          <ion-input type="text" name="apellido" formControlName="apellido" required></ion-input>
        </ion-item>
      
    </ion-row>
     <ion-row>
       <ion-col>
        <ion-item>      
          <ion-icon name="mail" item-start></ion-icon>
          <ion-label floating>
            Correo
          </ion-label>
          <ion-input type="email" name="correo"  formControlName="correo" required></ion-input>
        </ion-item>
       </ion-col>
     </ion-row>
     <ion-row align-items-center>
      <ion-col>
        <ion-item>      
          <ion-icon name="person" item-start></ion-icon>
          <ion-label floating>
            Usuario
          </ion-label>
          <ion-input type="text" name="usuario" formControlName="usuario" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>      
          <ion-icon name="lock" item-start></ion-icon>
          <ion-label floating>
            Contraseña
          </ion-label>
          <ion-input type="password" name="password" formControlName="contrasena" required></ion-input>
          <ion-input type="text" value="{{avatar}}" formControlName="avatar" hidden></ion-input>
          <ion-input type="text" value="{{tipouser}}" formControlName="tipouser" hidden></ion-input>
          <ion-input type="text" value="{{puntos}}" formControlName="puntos" hidden></ion-input>
        </ion-item>
      </ion-col>
     
      
    </ion-row>
    <h4 style="    text-align: center;">Elige un avatar</h4>
    <ion-row align-items-center>
      
        <div class="center">
            <ion-img (click)="selectA1()" width="30" height="30" src="https://png.pngtree.com/element_origin_min_pic/17/09/18/b65c627601e53069938fe2de01041893.jpg" class="avatar "></ion-img>
            <ion-img (click)="selectA2()" width="30" height="30" src="https://png.pngtree.com/element_origin_min_pic/17/09/18/b65c627601e53069938fe2de01041893.jpg" class="avatar "></ion-img>
            <ion-img (click)="selectA3()" width="30" height="30" src="https://png.pngtree.com/element_origin_min_pic/17/09/18/b65c627601e53069938fe2de01041893.jpg" class="avatar "></ion-img>
            <ion-img (click)="selectA4()" width="30" height="30" src="https://png.pngtree.com/element_origin_min_pic/17/09/18/b65c627601e53069938fe2de01041893.jpg" class="avatar "></ion-img>
        </div>
    
    </ion-row>
        
    <div padding>
        
      <button ion-button block color="menta" type="submit" >Sign In</button>
     
    </div>
  </form>
  </div>
      
        
     <div class="footer">
        <ion-row align-items-center>
            
            <ion-col>
             
                <button class="link"  (click)="GoToRegistrar()" >Registrarte</button>
                
            </ion-col>
            
            
          </ion-row>
     </div>
</ion-content>
