<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle start >
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="Grad1" >

  <h1 class="title" padding-left >Hola {{Nombre}} bienvenido!</h1>


  <br>
  <ion-card padding>
<ion-card-title>Que hay de nuevo?</ion-card-title>
<ion-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem doloremque, fuga ipsa minus quos sit vel vero. Ad nobis temporibus voluptate. Alias commodi debitis dolor doloribus fuga inventore molestiae soluta.</ion-card-content>


</ion-card>
  <br>
  <ion-card padding>
    <ion-card-title>Que hay de nuevo?</ion-card-title>
    <ion-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem doloremque, fuga ipsa minus quos sit vel vero. Ad nobis temporibus voluptate. Alias commodi debitis dolor doloribus fuga inventore molestiae soluta.</ion-card-content>


  </ion-card>

</ion-content>
