<ion-content>
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>
      <div class="diag" style="background: url('assets/imgs/whitebg.svg') no-repeat">
        <ion-icon ios="ios-analytics" md="md-analytics" color="primary" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
      </div>
      <div [@bounce]='state'>
          <h2>Bienvenido a nuestra app de aprendizaje!</h2>
          <p>Kaanbal es una plataforma de aprendizaje que permite a niños de 6 a 10 años aprender de una forma facil, divertida y competitiva. </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: url('assets/imgs/whitebg.svg') no-repeat">
        <ion-icon ios="ios-trophy" md="md-trophy" color="primary" [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
          <h2>¿Quieres ser el primero?</h2>
          <p>Nuestra aplicacion cuenta con un ranking donde se muestran los 10 mejores con mejor puntaje. ¿Que esperas? ¡Empieza YA!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: url('assets/imgs/whitebg.svg') no-repeat">
        <ion-icon ios="ios-chatboxes" md="md-chatboxes" color="primary" [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>Crea una cuenta o inicia secion!</h2>
        <p></p>
      </div>
    </ion-slide>
  </ion-slides>
  <button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>