<ion-menu [content]="content">
 <ion-content padding>
   <h1>Side menu</h1>


   <ion-list>
   <ion-item>
     <ion-avatar item-start>
       <img src="img/avatar-cher.png">
     </ion-avatar>
     <h2>Cher</h2>
     <p>Ugh. As if.</p>
   </ion-item>
   </ion-list>

 </ion-content>

</ion-menu>







<ion-nav [root]="rootPage" #content></ion-nav>
